# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Project specific
# Bỏ qua dữ liệu gốc, dữ liệu train/test, kết quả inference, kết quả evaluation
data/
output/
inference_results/
eval_results.json
visualized_tiles/
*.pt
*.pth
*.weights
*.onnx
*.engine
*.trt
*.log
wandb/
runs/
*.yaml
!dataset.yaml

# Kaggle credentials
kaggle.json

# Bỏ qua các file tạm, file hình ảnh kết quả
*.jpg
*.png
*.jpeg
*.bmp
*.tif
*.tiff


# Allow Python files in src directory
!src/
!src/**/*.py 